<div  style="margin-left: 1%;margin-right: 1%">
  <mat-tab-group [@.disabled]="true">
      <mat-tab label="Hardware"> Content 1 </mat-tab>
      <mat-tab label="Software"> Content 2 </mat-tab>
      <mat-tab label="Method"> Content 3 </mat-tab>

</mat-tab-group>

<!--<nav mat-tab-nav-bar >
    <a mat-tab-link
       *ngFor="let link of links"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="activeLink == link">
      {{link}}
    </a>
  </nav>
-->

</div>


